<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>yusukeutsunomiya</display-name>
  <servlet>
    <description></description>
    <display-name>Auth</display-name>
    <servlet-name>Auth</servlet-name>
    <servlet-class>oauth4j.servlet.Auth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Auth</servlet-name>
    <url-pattern>*.auth</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Maplet</display-name>
    <servlet-name>Maplet</servlet-name>
    <servlet-class>maps.servlet.Maplet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Maplet</servlet-name>
    <url-pattern>*.action</url-pattern>
  </servlet-mapping>
</web-app>